* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.bg1 {
	background-image: url(img/box1.jpg);
	background-size: cover;
	background-position: center;
	height: 200px;
}
.bg2 {
	background-image: url(img/box2.jpg);
	background-size: cover;
	background-position: center;
	height: 200px;
}
.bg3 {
	background-image: url(img/box3.jpg);
	background-size: cover;
	background-position: center;
	height: 200px;
}
.bg4 {
	background-image: url(img/box4.jpg);
	background-size: cover;
	background-position: center;
	height: 200px;
}
